@import '../../partials/variables';
@import '../../partials/mixins';

.avatar {
	margin-top: 24px;
	margin-left: auto;
	display: flex;
	&__pic {
		margin-left: auto;
		border-radius: 100%;
		width: 32px;
		height: 32px;
	}
	&__name {
		margin-left: 16px;
		margin-right: 16px;
		font-size: 20px;
		font-weight: 500;
	}
}